# Kaggle Submission

The following is my implementation of a pipeline. It is essentially me walking through the pipeline implementation by Pablo Acuna in this [kernel](https://www.kaggle.com/pacuna/pipeline-example)

### Import yo stuff

In [54]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import FunctionTransformer, MinMaxScaler, Imputer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn_pandas import CategoricalImputer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import roc_auc_score

In [55]:
test = pd.read_csv("test_census.csv")

In [56]:
data = pd.read_csv("census.csv")

In [57]:
data.isna().any()

age                False
workclass          False
education_level    False
education-num      False
marital-status     False
occupation         False
relationship       False
race               False
sex                False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country     False
income             False
dtype: bool

In [58]:
test.isna().any()

Unnamed: 0         False
age                 True
workclass           True
education_level     True
education-num       True
marital-status      True
occupation          True
relationship        True
race                True
sex                 True
capital-gain        True
capital-loss        True
hours-per-week      True
native-country      True
dtype: bool

In [59]:
test['age'].mean()

38.54998340891494

In [88]:
test['age'].fillna(38)
test['age'].isna().values.any()

True

In [92]:
inds = pd.isnull(test).any(1).nonzero()

In [96]:
test['age'].fillna(value=38, inplace = True)

In [101]:
test.isna().any()

Unnamed: 0         False
age                False
workclass           True
education_level     True
education-num       True
marital-status      True
occupation          True
relationship        True
race                True
sex                 True
capital-gain        True
capital-loss        True
hours-per-week      True
native-country      True
dtype: bool

### Splitting features from output

In [18]:
income_raw = data['income']
features_raw = data.drop('income', axis=1)

### Separate columns according to transformations to apply

In [19]:
# numerical
num_cols = ['age', 'education-num', 'capital-gain',
            'capital-loss', 'hours-per-week']

# categorical
cat_cols = ['workclass', 'education_level', 
            'marital-status', 'occupation', 
            'relationship', 'race', 
            'sex', 'native-country']

# need log transform
log_transform_cols = ['capital-loss', 'capital-gain']

### Apply log transforms

In [20]:
features_log_transformed = pd.DataFrame(data=features_raw)
features_log_transformed[log_transform_cols] = features_raw[log_transform_cols].apply(lambda x: np.log(x+1))